.homepage {
    align-content: center;
    text-align: left;
    margin-bottom: 5rem;
}

.homepage-big-promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.right-now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
}

.homepage-long-promo {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
}